body{
  font-family: Rubik,sans-serif;
}
.main1{
  position: relative;
  top: -30px;
}
.maincontent{
  position: relative;
  top:60px
}
.ap-bcciLogo {
  display: flex;
  align-items: center;
  width: 50%;
  text-align: center;
}
.ap-bcciLogo a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 79px;
  text-decoration: none;
}
.ap-bcciLogo a img {
  width: 22px;
  margin-right: 5px;
  vertical-align: text-top;
}
.ap-socialDiv {
  display: flex;
  width: 50%;
  text-align: right;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.ap-socialDiv a {
  display: inline-block;
  margin-left: 12px;
  line-height: 10px;
  width: 22px;
  opacity: .3;
  transition: .3s;
}
.ap-socialDiv a:hover{
  opacity: .6;
}
.ap-socialDiv span {
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, .3);
  margin-right: 8px;
  margin-top: 1px;
  display: block !important;
}
.strip{
  background: #061e59;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  height: 41px;
  align-items: center;
  padding: 0 25px;
  position:relative;
  z-index: 1;
}
.card-title h1{
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  text-align: left;
  padding-left: 16px;
  padding-top: 16px;
}
.about h1{
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  padding-bottom: 16px;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
  padding-left: 16px;
  padding-top: 16px;
}
.details h2{
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}
.details span{
  --bs-text-opacity: 1;
  color: rgba(0, 0, 0, .5) !important;
}
.details p{
  --bs-text-opacity: 1;
    color: rgba(0, 0, 0, .5) !important;
}
.col a{
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  color: rgba(17, 20, 28, 0.4);
  border-radius: 5px;
}
.col a[aria-expanded="true"]{
  background-color: #061e59;
  color: #fff;
  padding: 10px;
  margin: 0;
}
.card .col{
  border-radius: 4.08138px;
  margin-bottom: 0.5rem;
  padding: 7px 18px;
  font-size: 20px;
  color: rgba(17, 20, 28, 0.4);
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
}
.imgdef{
  width:100%;
  margin-bottom: 5px;
}
.breadbg{
  background: url(aboutpage.png) center center/cover no-repeat;
  padding: 50px 0 40px 4.5rem;
  position: relative;
  font-size: 32px;
  color: #000;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0;
  align-items: center;
  display: flex;
  float: left;
  width: 100%;
}
.ap-nav-down {
  top: 0;
  left: 0;
  background-color: #061e59;
  width: 100%;
  float: left;
  position: absolute;
}
.ap-nav-down nav li {
  color: #fff !important;
  font-size: 12px;
  font-weight: lighter;
  font-style: normal;
  padding: 7px 0 10px 85px;
}
.ap-nav-down nav li a{
  color: #fff;
  text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, "/");
}
.breadbg span {
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding-left: 10px;
}
.headings .col a:hover{
  color: #fff;
  background-color: #061e59;
}
.card-body a{
  text-decoration: none;
  color: #000;
}
.card-body a:hover{
  color: #039be5;
  cursor: pointer;
}
.outlinephone{
  text-shadow: -1px 1px 0 #dc5034, 1px 1px 0 #dc5034, 1px -1px 0 #dc5034, -1px -1px 0 #dc5034;
  color: #fafbfc;
  padding-right: 5px;
}
.outlinemap {
  text-shadow: 0 0 1px red, 0 0 1px red;
  color: #fafbfc;
}
.iwish{
  float: left;
  width: 100%;
}
.iwishinp{
  position: relative;
}
.iwishinp::after{
  content: '';
  background: url(np-arrow-down.png) center center/cover no-repeat;
  position: absolute;
  width: 18px;
  height: 11px;
  z-index: 999;
  right: 20px;
  top: 22px;
  pointer-events: none;
}
.iwishopt{
  box-sizing: border-box;
  color: #8c8c8c;
  appearance: none;
  padding: 1rem;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  resize: none;
  width: 100%;
  float: left;
}

.email1{
  padding: 1rem;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #fff;
  resize: none;
  float:left;
  width: 100%;
}
.emailm label{
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}
.iwish select option{
  font-weight: 600;
  font-size: 18px;
}
.iwish span{
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
  padding-right: 1rem;
}
.subbtn{
  padding: 5px 15px;
  font-size: 16px;
  background-color: #061e59;
  color: #fff;
  font-weight: 700;
}
.subbtn:hover{
  color: #061e59;
  background-color: #fff;
  transition: 0.5s;
}

@media (max-width:768px) {
  .headings{
    width: 100% !important;
    max-height: 230px;
    overflow: auto;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 4.06736px 20.3368px rgb(102 102 102 / 16%);
  }
  .maincontent {
    position: relative;
    top: 0px
  }
}